.hovericon:hover {
    cursor: pointer;
}

.c-pointer:hover {
    cursor: pointer;
}

.scale-1-2:hover {
    transform: scale(1.2);
}
a{
    text-decoration: none;
}

/* login page  */
/* Add these styles to your existing CSS */

.loginicon {
    background: url('./../assets/images/loginimgstory.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
}
.loginbg {
    background: url('./../assets/images/bg.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: blur(5px);
}
.blur-5{
    -webkit-backdrop-filter: blur(50px);
    backdrop-filter: blur(5px);
}

.glassmorphism {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.05);
    backdrop-filter: blur(15px);
    transition: backdrop-filter 0.3s ease-out;
    color: #fff;
}


.upload {
    width: 150px;
    position: relative;
    margin: auto;
}

.upload img {
    border-radius: 50%;
    border: 6px solid #eaeaea;
    width: 100%;
    height: 150px; /* Updated to 150px */
    /* Ensuring the image takes up the full container */
}

.upload .round {
    position: absolute;
    bottom: 0;
    right: 0;
    background: #00B4FF;
    width: 40px; /* Updated to 40px */
    height: 40px; /* Updated to 40px */
    line-height: 40px; /* Updated to 40px */
    text-align: center;
    border-radius: 50%;
    overflow: hidden;
    /* Adding a pointer cursor for better UX */
}

.upload .round input[type='file'] {
    position: absolute;
    transform: scale(2);
    opacity: 0;
}

input[type=file]::-webkit-file-upload-button {
    cursor: pointer;
}


/* Admin dashboard cards */
.counter{
    color: #f27f21;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    height: 190px;
    width: 190px;
    padding: 30px 25px 25px;
    margin: 0 auto;
    border: 3px solid #f27f21;
    border-radius: 20px 20px;
    position: relative;
    z-index: 1;
}
.counter:before,
.counter:after{
    content: "";
    background: #f3f3f3;
    border-radius: 20px;
    box-shadow: 4px 4px 2px rgba(0,0,0,0.2);
    position: absolute;
    left: 15px;
    top: 15px;
    bottom: 15px;
    right: 15px;
    z-index: -1;
}
.counter:after{
    background: transparent;
    width: 100px;
    height: 100px;
    border: 15px solid #f27f21;
    border-top: none;
    border-right: none;
    border-radius: 0 0 0 20px;
    box-shadow: none;
    top: auto;
    left: -10px;
    bottom: -10px;
    right: auto;
}
.counter .counter-icon{
    font-size: 35px;
    line-height: 35px;
    margin: 0 0 15px;
    transition: all 0.3s ease 0s;
}
.counter:hover .counter-icon{ transform: rotateY(360deg); }
.counter .counter-value{
    color: #555;
    font-size: 30px;
    font-weight: 600;
    line-height: 20px;
    margin: 0 0 20px;
    display: block;
    transition: all 0.3s ease 0s;
}
.counter-value1{
    color: #555;
    font-size: 30px;
    font-weight: 600;
    line-height: 20px;
    margin: 0 0 20px;
    display: block;
    transition: all 0.3s ease 0s;
}
.counter:hover .counter-value{ text-shadow: 2px 2px 0 #d1d8e0; }
.counter h3{
    font-size: 17px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0 0 15px;
}
.counter.blue{
    color: #4accdb;
    border-color: #4accdb;
}
.counter.blue:after{
    border-bottom-color: #4accdb;
    border-left-color: #4accdb;
}
.counter.red{
    color: #ff663c;
    border-color: #ff663c;
}
.counter.red:after{
    border-bottom-color: #ff663c;
    border-left-color: #ff663c;
}
.counter.lightgreen{
    color: #4caf50;
    border-color: #4caf50;
}
.counter.lightgreen:after{
    border-bottom-color: #4caf50;
    border-left-color: #4caf50;
}
@media screen and (max-width:990px){
    .counter{ margin-bottom: 40px; }
}



/* for key table */
.CSV1 { background-color: lightblue !important; color: black !important; }
.CSV2 { background-color: lightgreen !important; color: black !important; }
.CSV3 { background-color: lightpink !important; color: black !important; }
.CSV4 { background-color: rgb(218, 218, 103) !important; color: black !important; }
.CSV5 { background-color: lightsalmon !important; color: black !important; }
.CSV6 { background-color: lightcyan !important; color: black !important; }
.CSV7 { background-color: lightcoral !important; color: black !important; }
.CSV8 { background-color: lightseagreen !important; color: white !important; }
.CSV9 { background-color: lightgrey !important; color: black !important; }
.CSV10 { background-color: lightskyblue !important; color: black !important; }

/* side bar scroller  */
/* Define scrollbar styles for WebKit browsers (Chrome, Safari) */
::-webkit-scrollbar {
  width: 10px; /* Set the width of the scrollbar */
}
/* Define the track styles */
::-webkit-scrollbar-track {
  background: #dadada; /* Set the background color of the track */
  border-radius: 10px;
}
/* Define the thumb styles */
::-webkit-scrollbar-thumb {
  background: #888; /* Set the color of the scrollbar thumb */
  border-radius: 10px;
}
